<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h1 class="card-title">Welcome</h1>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">See transactions</a>
      </div>
      <div class="card-footer text-muted">
        You have 100 transactions
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-lg-3 pt-4">
    <app-type-summary></app-type-summary>
  </div>
  <div class="col-sm-6 col-lg-3 pt-4">
    <app-type-summary></app-type-summary>
  </div>
  <div class="col-sm-6 col-lg-3 pt-4">
    <app-type-summary></app-type-summary>
  </div>
  <div class="col-sm-6 col-lg-3 pt-4">
    <app-type-summary></app-type-summary>
  </div>
</div>